CREATE TABLE deposit_requests (id serial PRIMARY KEY, user_uid uuid NOT NULL, user_number text NOT NULL, target_number text NOT NULL, amount numeric NOT NULL, screenshot_url text NOT NULL, status text NOT NULL DEFAULT 'pending', created_at timestamp with time zone DEFAULT timezone('utc', now()));
